<form action="/word/new-word" method="post">
  <label for="word_input">Enter Word</label>
  <input class="form-control" type="text" name="word_input">

  <label for="define_word">Enter Definition</label>
  <input class="form-control" type="text" name="define_word">

  <button class="btn" type="submit" name="button">Submit</button>

</form>
